<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div id="yellow-circle-top-left"></div>
      <div id="yellow-circle-mid-right"></div>
      <div id="pink-circle-mid-right"></div>
      <div class="random-circles">
        <div class="circle-transparent"></div>
        <div class="circle-transparent"></div>
        <div class="circle-transparent"></div>
      </div>
      <div class="clouds">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="action-section">
        <h2>Reach out to us!</h2>
        <form class="form">
          <input class="form__name" type="text" placeholder="Your name*" />
          <input class="form__email" type="email" placeholder="Your e-mail*" />
          <input
            class="form__text input-big"
            type="textarea"
            placeholder="Your message*"
          />
          <button class="action-btn">Send message</button>
        </form>
      </div>

      <section class="map-section">
        <div id="map"></div>
      </section>
    </main>
    <footer>
      <div class="socials-list">
        <a href="#"><img src="../mats/linkedin.png" alt="linkedIn" /></a>
        <a href="#"><img src="../mats/twitter.png" alt="linkedIn" /></a>
        <a href="#"><img src="../mats/facebook.png" alt="linkedIn" /></a>
        <a href="#"><img src="../mats/pinterest.png" alt="linkedIn" /></a>
      </div>
      <div id="pink-circle-left-bottom"></div>
      <div id="green-circle-right-bottom"></div>
      <div id="yellow-circle-right-bottom"></div>
    </footer>
    <div class="pop-up">
      <button class="pop-up__exit-btn">
        <div class="pop-up__exit-btn__icon"></div>
      </button>
      <h3 class="pop-up__title">Thanks! We will answer your letter soon...</h3>
    </div>
  </body>
</html>
